//- Blog index (blog/index.html)
extends layout
append vars
    - var style = 'blog';
    - var urlbase = '/blog/';

append head
    base(href=urlbase)

block title
    = "Blog" + " • " + name

block header
    header.container
        .row
            .col-lg-offset-3.col-lg-6
                .logo
                .text-logo
                    h1.text-logo LNSD
        .row
            .col-lg-offset-2.col-lg-8
                nav
                    ul
                        li
                            a(href="/") home
                        li
                            a(href="/resume") resume
                        li
                            a(href="/blog").active blog
                        li
                            a(href="/contact") contact

block content
    section.container
        header.row
            .col-lg-offset-2.col-lg-8
                h2.text-center Recent posts
                hr
        each file in pagination.files
            article.row
                .list-item.col-lg-offset-2.col-lg-8
                    header(style="background-image: url("+file.path+"/header.jpg)").cover
                        .cover-content
                            .title
                                h3
                                    a(href='/blog/' + file.path)= file.title
                                small
                                    time.timestamp(datetime=file.date)= moment(file.date).format('MMMM D, YYYY')
                    main
                        p!= (!file.brief)?file.snippet:file.brief

    if(pagination.next || pagination.previous)
        nav.navigation.container
            .row
                .col-lg-offset-3.col-lg-6
                    hr
                    if pagination.next
                        a(href='/blog/' + pagination.next.path).pull-left.btn
                            i.fa.fa-angle-double-left
                            | &nbsp;&nbsp;older
                    if pagination.previous
                        a(href='/blog/' + pagination.previous.path).pull-right.btn
                            | newer&nbsp;&nbsp;
                            i.fa.fa-angle-double-right

block footer
    footer.footer.container.font-light
        //- TODO Footer content
        .row
            .col-lg-offset-2.col-lg-8
                hr
        //.row
            .col-lg-offset-2.col-lg-4
                .content
                    p.text-center Footer content left
            .col-lg-4
                .content
                    p.text-center Footer content right
        .row
            .col-lg-offset-2.col-lg-8
                .content
                    p.text-center!= moment(Date.now()).format('YYYY')+'&nbsp;&copy;&nbsp;'+author.name


append scripts
    script(src='../js/vendor/jquery.min.js')
    script(src='../js/vendor/moment.min.js')
    script(src='../js/main.js')


