//Blog index (blog/index.html)
extends layout

block body
    body
        //- each post in collections.posts
            post.content-article
                header
                    span.timestamp= post.date
                    h2
                        a(href='/blog/' + post.path)= post.title

        each file in pagination.files
            article.content
                header.header
                    small.header-metadata
                        //- time.timestamp(datetime=file.date)= moment(file.date).format('MMMM D, YYYY') TODO: Add moment.js to bower
                    h2.content-title
                        a(href='/blog/' + file.path)= file.title
                section.content-article!= file.snippet

        nav.navigation.cf
            if pagination.previous
                a.btn.pull-right(href='/blog/' + pagination.previous.path)
                    | Newer&nbsp;&nbsp;
                    i.icon-right-dir
            if pagination.next
                a.btn.pull-left(href='/blog/' + pagination.next.path)
                    i.icon-left-dir
                    | &nbsp;&nbsp;Older