extends blog
append vars
    - var fullUri = baseuri + '/blog/' + path

append head
    meta(property='og:image', content=fullUri+'/header.jpg')

block title
    = title + " • " + name

block content
    section.container
        .row
            .col-lg-offset-2.col-lg-8
                header(style="background-image: url("+path+"/header.jpg)").cover
                    .cover-content
                        .title
                            h2!= title
                            small
                                time.timestamp(datetime=date)= moment(date).format('MMMM D, YYYY')
        .row
            .col-lg-offset-2.col-lg-8
                main.content!= contents
        .row
            .col-lg-offset-2.col-lg-8
                .social
                    ul
                        li
                            span
                                i.fa.fa-share-alt
                                | &nbsp;&nbsp;Share via:
                        li
                            a(href='mailto:?subject=' + title + '&body=' + fullUri).email
                                i.fa.fa-envelope
                                | &nbsp;&nbsp;&nbsp;Email
                        li
                            a(href='https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(title), target='_blank', class='popup').facebook
                                i.fa.fa-facebook
                                | &nbsp;&nbsp;&nbsp;Facebook
                        li
                            a(href='http://twitter.com/home?status='+encodeURIComponent(title+' — '+fullUri), target='_blank', class='popup').twitter
                                i.fa.fa-twitter
                                | &nbsp;&nbsp;&nbsp;Twitter
                        li
                            a(href='http://www.linkedin.com/shareArticle?mini=true&url='+encodeURIComponent(fullUri)+'&title='+encodeURIComponent(title), target='_blank', class='popup').linkedin
                                i.fa.fa-linkedin
                                | &nbsp;&nbsp;&nbsp;LinkedIn
                        li
                            a(href='https://plus.google.com/share?url=' + encodeURIComponent(fullUri), target='_blank', class='popup').google-plus
                                i.fa.fa-google-plus
                                | &nbsp;&nbsp;&nbsp;Google+
        .row
            .col-lg-offset-2.col-lg-8
                .comments
                    #disqus_thread

prepend scripts
    script.
        //- Disqus code snippet
        (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//#{disqus}.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();